* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", Arial; }

article {
  width: 90%;
  max-width: 400px;
  background-color: #179D9C;
  height: 350px;
  text-align: center;
  padding-top: 20px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  article .container {
    width: 90%;
    max-width: 400px;
    display: inline-block; }
    article .container input {
      width: 100%;
      margin-bottom: 20px;
      height: 40px;
      border: 1px solid #FAFAFA;
      padding-left: 7px;
      border-radius: 5px;
      font-size: 13px;
      color: #555; }
    article .container .buttons {
      display: flex;
      justify-content: space-between; }
    article .container button {
      border-radius: 5px;
      height: 40px;
      border: 0px;
      width: 45%;
      cursor: pointer;
      background-color: #973689;
      font-size: 12px;
      color: #fff; }
    article .container .result {
      margin-top: 20px;
      width: 100%;
      height: 80px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #333;
      font-weight: 600; }
    article .container #log {
      margin-top: 15px;
      text-align: right;
      font-size: 12px;
      color: #fff;
      cursor: pointer; }
      article .container #log span {
        vertical-align: middle; }
      article .container #log .fa-file-text-o {
        margin-left: 5px;
        font-size: 20px;
        vertical-align: middle; }

#modal {
  display: none; }
  #modal.open {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0px;
    left: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
    #modal.open #box {
      min-width: 200px;
      width: 90%;
      max-width: 500px;
      background-color: #FAFAFA;
      position: relative;
      border-radius: 5px;
      overflow: hidden;
      top: 40px; }
      #modal.open #box header {
        width: 100%;
        height: 40px;
        background-color: #DADADA;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative; }
        #modal.open #box header h2 {
          font-size: 15px; }
      #modal.open #box #close-modal {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 7px;
        font-size: 20px;
        cursor: pointer;
        color: #333; }
        #modal.open #box #close-modal .fa-times {
          display: block; }
      #modal.open #box #operations {
        overflow-x: auto;
        display: flex;
        flex-wrap: nowrap; }
        #modal.open #box #operations .operation {
          min-width: 70px;
          height: 300px;
          border-right: 1px solid #EAEAEA; }
          #modal.open #box #operations .operation .char-box {
            width: 100%;
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; }
            #modal.open #box #operations .operation .char-box .char {
              font-size: 50px;
              font-weight: 600; }
          #modal.open #box #operations .operation .char-message {
            color: #179D9C; }
          #modal.open #box #operations .operation .char-key {
            color: #9D1717; }
          #modal.open #box #operations .operation .char-result {
            border-top: 1px solid #EAEAEA;
            color: #333; }
